body
{
	font: 10pt Arial, Helvetica, sans-serif;
	background-image: url(../../imagenes/tile16x16.png);
}

#contenedor
{
	width: 100%;
	text-align: center;
}

#titulo
{
	text-align: center;
	padding: 10px 0px 10px 0px;
	font-size: 12pt;
	font-weight: bold;
}

#captura
{
	padding: 10px 0px 10px 0px;
}