td.poliza {
	height: 17.5cm;
	width: 16cm;
	vertical-align: top;
}

td.cheque {
	height: 9cm;
	width: 16cm;
	vertical-align: top;
}

td.c11 {
	width: 0.2cm;
	height: 1.1cm;
}

td.c12 {
	width: 0.2cm;
}

td.c13 {
	width: 0.2cm;
	vertical-align: bottom;
	font-size: 10pt;
	font-family: "Times New Roman", Times, serif;
}

td.c14 {
	width: 2.8cm;
}

td.c15 {
	width: 3.4cm;
}

td.c16 {
	width: 1.2cm;
}

td.c17 {
	width: 2cm;
}

td.c18 {
	width: 6cm;
}

td.c11bis {
	width: 0.2cm;
	height: 0.5cm;
}

td.c12bis {
	width: 0.2cm;
}

td.c13bis {
	width: 0.2cm;
	vertical-align: bottom;
	font-size: 10pt;
	font-family: "Times New Roman", Times, serif;
}

td.c14bis {
	width: 2.8cm;
}

td.c15bis {
	width: 3.4cm;
}

td.c16bis {
	width: 1.2cm;
}

td.c17bis {
	width: 2cm;
}

td.c18bis {
	width: 6cm;
}

td.c21 {
	width: 0.2cm;
	height: 0.3cm;
}

td.c22 {
	width: 0.2cm;
}

td.c23 {
	width: 0.2cm;
}

td.c24 {
	width: 2.8cm;
	font-size: 8pt;
	font-family: "Times New Roman", Times, serif;
}

td.c25 {
	width: 3.4cm;
	vertical-align: top;
	font-size: 8pt;
	font-family: "Times New Roman", Times, serif;
}

td.c26 {
	width: 1.2cm;
}

td.c27 {
	width: 2cm;
}

td.c28 {
	width: 6cm;
}

td.c31 {
	width: 0.2cm;
	height: 0.7cm;
}

td.c32 {
	width: 0.2cm;
}

td.c33 {
	width: 0.2cm;
	font-size: 10pt;
	font-family: "Times New Roman", Times, serif;
	vertical-align: bottom;
}

td.c34 {
	width: 2.8cm;
}

td.c35 {
	width: 3.4cm;
}

td.c36 {
	width: 1.2cm;
}

td.c37 {
	width: 2cm;
}

td.c38 {
	width: 6cm;
}

td.c41 {
	width: 0.2cm;
	height: 0.6cm;
}

td.c42 {
	width: 0.2cm;
}

td.c43 {
	width: 0.2cm;
}

td.c44 {
	width: 2.8cm;
}

td.c45 {
	width: 3.4cm;
}

td.c46 {
	width: 1.2cm;
	vertical-align: bottom;
	font-size: 6pt;
	font-family: "Times New Roman", Times, serif;
}

td.c47 {
	width: 2cm;
}

td.c48 {
	width: 6cm;
}

td.c51 {
	width: 0.2cm;
	height: 0.9cm;
}

td.c52 {
	width: 0.2cm;
	vertical-align: bottom;
	font-size: 10pt;
	font-family: "Times New Roman", Times, serif;
}

td.c53 {
	width: 0.2cm;
}

td.c54 {
	width: 2.8cm;
}

td.c55 {
	width: 3.4cm;
}

td.c56 {
	width: 1.2cm;
}

td.c57 {
	width: 2cm;
	height: 0.9cm;
}

td.c58 {
	width: 6cm;
	vertical-align: middle;
	font-family: Courier;
}

td.c58bis {
	width: 6cm;
	vertical-align: bottom;
	font-size: 13pt;
	font-family: "Times New Roman", Times, serif;
}

td.c61 {
	width: 0.2cm;
	height: 1cm;
}

td.c62 {
	width: 0.2cm;
	vertical-align: top;
	font-size: 8pt;
	font-family: "Times New Roman", Times, serif;
}

td.c63 {
	width: 0.2cm;
}

td.c64 {
	width: 2.8cm;
}

td.c65 {
	width: 3.4cm;
}

td.c66 {
	width: 1.2cm;
}

td.c67 {
	width: 2cm;
}

td.c68 {
	width: 6cm;
}

td.c71 {
	width: 0.2cm;
	height: 2.1cm;
}

td.c71legend {
	width: 0.2cm;
	height: 1cm;
}

td.c71micr {
	width: 0.2cm;
	height: 0.9cm;
}

td.c72 {
	font-size: 10pt;
}

td.c72micr {
	font-family: Courier;
}

td.c72bis {
	font-size: 7pt;
	margin-left: 2.3cm;
}

td.c73 {
	width: 0.2cm;
}

td.c74 {
	width: 2.8cm;
}

td.c75 {
	width: 3.4cm;
}

td.c76 {
	width: 1.2cm;
}

td.c77 {
	width: 2cm;
}

td.c78 {
	width: 6cm;
}

td.c81 {
	width: 0.2cm;
	height: 1.5cm;
}

td.c82 {
	width: 0.2cm;
	vertical-align: bottom;
}

td.c82bis {
	width: 0.2cm;
	vertical-align: bottom;
	font-size: 10pt;
	text-align: center;
}

td.c83 {
	width: 0.2cm;
}

td.c84 {
	width: 2.8cm;
}

td.c85 {
	width: 3.4cm;
}

td.c86 {
	width: 1.2cm;
}

td.c87 {
	width: 2cm;
}

td.c88 {
	width: 6cm;
}

td.c91 {
	width: 0.2cm;
	height: 1cm;
}

td.c92 {
	width: 0.2cm;
	height: 1cm;
	vertical-align: top;
}

td.c92bis {
	width: 0.2cm;
	height: 0.8cm;
	vertical-align: bottom;
	font-size: 10pt;
	text-align: center;
}

td.c93 {
	width: 0.2cm;
}

td.c94 {
	width: 2.8cm;
}

td.c95 {
	width: 3.4cm;
}

td.c96 {
	width: 1.2cm;
}

td.c97 {
	width: 2cm;
}

td.c98 {
	width: 6cm;
}