td.c11{
	width: 0.3cm;
	height: 0.5cm;
}
td.c12{
	width: 1.0cm;
}
td.c13{
	width: 0.5cm;
}
td.c14{
	width: 2.4cm;
}
td.c15{
	width: 0.8cm;
}
td.c16{
	width: 2.9cm;
}
td.c17{
	width: 1.5cm;
}
td.c18{
	width: 0.7cm;
}
td.c19{
	width: 1.8cm;
}
td.c110{
	width: 2.7cm;
}
td.c111{
	width: 0.7cm;
}


td.c22{
	height: 0.5cm;
}
td.c23{
	height: 1.3cm;
}
td.c24{
	height: 0.7cm;
}
td.c25{
	height: 0.8cm;
}
td.c26{
	height: 0.9cm;
}
td.c27{
	height: 0.9cm;
}
td.c28{
	height: 0.8cm;
}
td.c29{
	height: 1.2cm;
}
td.c210{
	height: 0.7cm;
}
td.c211{
	height: 1.4cm;
}

td.c212{
	height: 0.5cm;
}

td.c213{
	height: 0.1cm;
}

td.c214{
	height: 0.6cm;
}

td.c215{
	height: 0.3cm;
}

td.c216{
	height: 0.3cm;
}

td.c217{
	height: 3.6cm;
}


td.prueba {
	width: 0.2cm;
	height: 1.1cm;
	vertical-align: bottom;
	font-size: 10pt;
	font-family: "Times New Roman", Times, serif;
}