
table.print {
	border: 1px solid #73A8B7;  /*-moz-border-radius-bottomleft: 10px;  -moz-border-radius-bottomright: 10px;  -moz-border-radius-topleft: 10px;  -moz-border-radius-topright: 10px;  -moz-outline-radius-bottomleft: 10px;  -moz-outline-radius-bottomright: 10px;  -moz-outline-radius-topleft: 10px;  -moz-outline-radius-topright: 10px;*/
}

caption.print {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;
}

th.print {
	background-color: #73A8B7;
	border: 1px solid #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: center;
	vertical-align: middle;
	font-size: 10pt;
	font-weight: bolder;
}

th.lprint {
	background-color: #73A8B7;
	border: 1px solid #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: left;
	vertical-align: middle;
	font-size: 10pt;
	font-weight: bolder;
}

th.rprint {
	background-color: #73A8B7;
	border: 1px solid #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: right;
	vertical-align: middle;
	font-size: 10pt;
	font-weight: bolder;
}

td.print {
	font-family: Arial;
	text-align: center;
	font-size: 8pt;
	font-weight: bolder;
}

td.lprint {
	font-family: Arial;
	text-align: left;
	font-size: 8pt;
	font-weight: bolder;
}

td.rprint {
	font-family: Arial;
	text-align: right;
	font-size: 8pt;
	font-weight: bolder;
}

th.print_total {
	background-color: #73A8B7;
	border: 1px solid #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: center;
	vertical-align: middle;
	font-size: 10pt;
	font-weight: bold;
}

th.lprint_total {
	background-color: #73A8B7;
	border: 1px solid #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: left;
	vertical-align: middle;
	font-size: 10pt;
	font-weight: bold;
}

th.rprint_total {
	background-color: #73A8B7;
	border: 1px solid #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: right;
	vertical-align: middle;
	font-size: 10pt;
	font-weight: bold;
}

th.gastos {
	background-color: #73A8B7;
	border: 1px solid #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: center;
	vertical-align: middle;
	font-size: 32pt;
	font-weight: bolder;
	letter-spacing: 20pt;
}

/* Estilo para el bloque del título */
th.tl {
	background-color: #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: left;
	vertical-align: middle;
	font-size: 12pt;
	font-weight: bolder;  /*-moz-border-radius-topleft: 10px;*/
}

th.tr {
	background-color: #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: right;
	vertical-align: middle;
	font-size: 12pt;
	font-weight: bolder;  /*-moz-border-radius-topright: 10px;*/
}

th.tc {
	background-color: #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: center;
	vertical-align: middle;
	font-size: 12pt;
	font-weight: bolder;
}

/* Estilo para el bloque del fondo */

td.bl {
	font-family: Arial;
	color: Black;
	text-align: left;
	vertical-align: middle;
	font-size: 12pt;
	font-weight: bolder;  /*-moz-border-radius-bottomleft: 10px;*/
	border-bottom: 1px solid #73A8B7;
	border-left: 1px solid #73A8B7;
	border-top: 1px solid #73A8B7;
}

th.br {
	background-color: #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: right;
	vertical-align: middle;
	font-size: 12pt;
	font-weight: bolder;  /*-moz-border-radius-bottomright: 10px;*/
	border-bottom: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
	border-top: 1px solid #73A8B7;
}

th.bc {
	background-color: #73A8B7;
	font-family: Arial;
	color: Black;
	text-align: center;
	vertical-align: middle;
	font-size: 12pt;
	font-weight: bolder;
}

/* Estilo para el bloque de gastos */
td.g_top {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border: 1px solid #73A8B7;
}

td.g_middle {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
}

td.g_bottom {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
	border-bottom: 1px solid #73A8B7;
}

/* Estilo normal para un bloque con bordes de 1px con fuente de 8pt */

/* Caja simple */
td.top_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
	border-top: 1px solid #73A8B7;
}

td.middle_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
}

td.bottom_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
	border-bottom: 1px solid #73A8B7;
}

td.box_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border: 1px solid Black;
}

/* Caja de 2 o mas celdas */
td.tl_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-top: 1px solid #73A8B7;
}

td.tc_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-top: 1px solid #73A8B7;
}

td.tr_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-top: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
}

td.ml_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
}

td.mc_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
}

td.mr_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-right: 1px solid #73A8B7;
}

td.bl_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-bottom: 1px solid #73A8B7;
}

td.bc_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-bottom: 1px solid #73A8B7;
}

td.br_lv1 {
	font-family: Arial;
	font-size: 8pt;
	font-weight: bolder;
	border-bottom: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
}

/*********************************************************************/

/* Estilo normal para un bloque con bordes de 1px con fuente de 10pt */

/* Caja simple */
td.top_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
	border-top: 1px solid #73A8B7;
}

td.middle_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
}

td.bottom_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
	border-bottom: 1px solid #73A8B7;
}

td.box_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border: 1px solid #73A8B7;
}

/* Caja de 2 o mas celdas */
td.tl_lv2 {
	font-family: Arial;
	font-size: 10;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-top: 1px solid #73A8B7;
}

td.tc_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-top: 1px solid #73A8B7;
}

td.tr_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-top: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
}

td.ml_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
}

td.mc_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

td.mr_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-right: 1px solid #73A8B7;
}

td.bl_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-left: 1px solid #73A8B7;
	border-bottom: 1px solid #73A8B7;
}

td.bc_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-bottom: 1px solid #73A8B7;
}

td.br_lv2 {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	border-bottom: 1px solid #73A8B7;
	border-right: 1px solid #73A8B7;
}

/*********************************************************************/
