/* OFFSET */
.offset {
	height: 0.5cm;
	width: 0.4cm;
}
.voffset {
	height: 0.6cm;
}

.hoffset {
	width: 0.4cm;
}

.boffset {
	height: 1.2cm;
}


/* Primera línea: Fecha */
.c11 {
	height: 2.4cm;
}

.c12 {
	width: 3cm;
}

/* Segunda línea: Nombre */
.c21 {
	height: 0.6cm;
}

/* Tercera línea: Dirección */
.c31 {
	height: 0.5cm;
}

/* Cuarta línea: RFC */
.c41 {
	height: 0.5cm;
}

/* Quinta línea: Importe 1 */
.c51 {
	height: 1.3cm;
	width: 4cm;
}

.c52 {
	width: 9.9cm;
}

.c53 {
	width: 2.8cm;
}

.c54 {
	width: 3cm;
}

/* Para las proximas 5*/
.row {
	height: 0.5cm;
}

/* Para la línea del importe */
.imp {
	height: 0.7cm;
}

/* Subtotal */
.subtotal {
	height: 0.6cm;
}

/* IVA */
.iva {
	height: 0.6cm;
}

/* TOTAL */
.total {
	height: 0.7cm;
}