table.print { border: 1px solid Black;  border-collapse: collapse;  }

caption.print 	{ text-align: center;  font-family: Arial, Helvetica, sans-serif;  font-size: 8pt;  font-style: italic;  font-weight: bold;  text-decoration: underline;      }

th.print { background-color: #73A8B7; border: 1px solid Black;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: center;  vertical-align: middle;  font-size: 8pt;        }

th.print_cia { background-color: #73A8B7; border: 1px solid Black;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: center;  vertical-align: middle;  font-size: 10pt;        }

th.vprint { background-color: #73A8B7; border: 1px solid Black;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: left;  vertical-align: middle;  font-size: 8pt;        }

th.rprint { background-color: #73A8B7; border: 1px solid Black;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: right;  vertical-align: middle;  font-size: 8pt;        }

td.print { border: 1px solid Black;  font-family: Arial, Helvetica, sans-serif;  text-align: center;  font-size: 8pt;     }

td.print_cia { border: 1px solid Black;  font-family: Arial, Helvetica, sans-serif;  text-align: center;  font-size: 10pt;     }

td.vprint { border: 1px solid Black;  font-family: Arial, Helvetica, sans-serif;  text-align: left;  vertical-align: middle;  font-size: 8pt;      }

td.rprint { border: 1px solid Black;  font-family: Arial, Helvetica, sans-serif;  text-align: right;  vertical-align: middle;  font-size: 8pt;      }

th.print_total { background-color: #73A8B7; border: 1px solid Black;  font-family: Arial, Helvetica, sans-serif;  color: Black;  text-align: center;  vertical-align: middle;  font-size: 10pt;  font-weight: bolder;         }

th.vprint_total {
	background-color: #73A8B7;
	border: 1px solid Black;
	font-family: Arial, Helvetica, sans-serif;
	color: Black;
	text-align: left;
	vertical-align: middle;
	font-size: 10pt;
	font-weight: bolder;
}

th.rprint_total {
	background-color: #73A8B7;
	border: 1px solid Black;
	font-family: Arial, Helvetica, sans-serif;
	color: Black;
	text-align: right;
	vertical-align: middle;
	font-size: 10pt;
	font-weight: bolder;
}

td.print_encabezado {
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bolder;
}

td.rprint_encabezado {
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bolder;
	text-align: right;
}