table.listado { border: 0px solid #73A8B7; }

caption.listado 	{ text-align: center;  font-family: Arial, Helvetica, sans-serif;  font-size: 5pt;  font-style: italic;  font-weight: bold;  text-decoration: underline;      }

th.listado { background-color: #73A8B7; border: 0px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: center;  vertical-align: middle;  font-size: 7pt;}

th.vlistado { background-color: #73A8B7; border: 0px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: left;  vertical-align: middle;  font-size: 7pt;        }

th.rlistado { background-color: #73A8B7; border: 0px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: right;  vertical-align: middle;  font-size: 7pt;        }

td.listado { border: 0px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  text-align: center;  vertical-align: middle; font-size: 7pt;}

td.vlistado { border: 0px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  text-align: left;  vertical-align: middle;  font-size: 7pt;}

td.rlistado { border: 0px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  text-align: right;  vertical-align: middle;  font-size: 7pt;}

th.listado_total { background-color: #73A8B7; border: 0px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  color: Black;  text-align: center;  vertical-align: middle;  font-size: 7pt;  font-weight: bolder;         }

th.vlistado_total {
	background-color: #73A8B7;
	border: 0px solid #73A8B7;
	font-family: Arial, Helvetica, sans-serif;
	color: Black;
	text-align: left;
	vertical-align: middle;
	font-size: 7pt;
	font-weight: bolder;
}

td.listado_encabezado {
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bolder;
}

td.rlistado_encabezado {
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bolder;
	text-align: right;
}

p.listado_encabezado { font-family: Arial, Helvetica, sans-serif;  font-size: 8pt;  font-style: normal;  font-weight: bold;    }