td.c11{
	width: 1.8cm;
	height: 0.6cm;
}
td.c12{
	width: 3.5cm;
}
td.c13{
	width: 1.7cm;
}
td.c14{
	width: 5.8cm;
}
td.c15{
	width: 2.3cm;
}
td.c16{
	width: 4.3cm;
}
td.c16a{
	width: 3.7cm;
}

td.c21{
	height: 1.2cm;
}
td.c21a{
	height: 1.3cm;
}
td.c31{
	height: 0.9cm;
}
td.c31a{
	height: 0.8cm;
}


td.c41{
	height: 0.5cm;
}
td.c51{
	height: 1.0cm;
}
td.c51a{
	height: 0.8cm;
}

td.c61{
	height: 4.7cm;
}
td.c71{
	height: 0.7cm;
}


