/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

table.print {
	border: 1px solid Black;
	border-collapse: collapse;
	font-size: 8pt;
	text-align: inherit;
}

th.print {
	background-color: #73A8B7;
	border: 1px solid Black;
	font-weight: bold;
}

td.print {
	border: 1px solid Black;
}

tr.over {
	background-color: #ACD2DD;
}

table.encabezado {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bolder;
}

.noDisplay {
}

.page-break {
}
