table.tabla { border: 2px solid #73A8B7; }

p.title { font-family: Arial, Helvetica, sans-serif;  font-size: 16pt;  font-style: normal;  font-weight: bold;    }

hr {	border: 2px solid #73A8B7; }

caption.tabla 	{ text-align: center;  font-family: Arial, Helvetica, sans-serif;  font-size: 10pt;  font-style: italic;  font-weight: bold;  text-decoration: underline;      }

th.tabla { background-color: #73A8B7; border: 1px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: center;  vertical-align: middle;  font-size: 10pt;        }

th.vtabla { background-color: #73A8B7; border: 1px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: left;  vertical-align: middle;  font-size: 10pt;        }

th.rtabla { background-color: #73A8B7; border: 1px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  color: White;  text-align: right;  vertical-align: middle;  font-size: 10pt;        }

td.tabla { border: 1px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  text-align: center;  font-size: 10pt;     }

td.vtabla { border: 1px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  text-align: left;  vertical-align: middle;  font-size: 10pt;      }

td.rtabla { border: 1px solid #73A8B7;  font-family: Arial, Helvetica, sans-serif;  text-align: right;  vertical-align: middle;  font-size: 10pt;      }

input.insert { border: 1px inset #73A8B7; font-family: Arial, Helvetica, sans-serif;  text-transform: uppercase;  background-color: #B3CCD3;  text-align: center;  font-size: 10pt;      }

input.vinsert { border: 1px inset #73A8B7; font-family: Arial, Helvetica, sans-serif;  text-transform: uppercase;  background-color: #B3CCD3;  text-align: left;  font-size: 10pt;      }

input.rinsert { border: 1px inset #73A8B7; font-family: Arial, Helvetica, sans-serif;  text-transform: uppercase;  background-color: #B3CCD3;  text-align: right;  font-size: 10pt;      }

textarea.insert { border: 1px inset #73A8B7;      font-family: Arial, Helvetica, sans-serif;  text-transform: uppercase;  background-color: #B3CCD3;  font-size: 10pt;           }

select.insert {border: 1px inset #73A8B7; font-family: Arial, Helvetica, sans-serif;  text-transform: uppercase;  background-color: #B3CCD3;  text-align: left;  font-size: 10pt;  }

input.total {    text-align: center;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 11pt;  border: 0 none;  color: Black;             }

input.vtotal {    text-align: left;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 11pt;  border: 0 none;  color: Black;             }

input.rtotal {    text-align: right;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 11pt;  border: 0 none;  color: Black;             }

input.error { color: Red; border: 1px inset #73A8B7;  text-align: center;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  font-style: italic;  background-color: #B3CCD3;  font-size: 10pt;         }

input.vnombre {    text-align: left;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 10pt;  border: 0 none;  color: Black;             }

input.nombre {    text-align: center;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 10pt;  border: 0 none;  color: Black;             }

input.rnombre {    text-align: right;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 10pt;  border: 0 none;  color: Black;             }

textarea.vnombre {    text-align: left;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 10pt;  border: 0 none;  color: Black;       }

textarea.nombre {    text-align: center;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 10pt;  border: 0 none;  color: Black;        }

textarea.rnombre {    text-align: right;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 10pt;  border: 0 none;  color: Black;        }

select.nombre {    text-align: center;    font-family: Arial, Helvetica, sans-serif;  font-weight: bold;  text-transform: uppercase;  background-color: transparent;  font-size: 10pt;  border: 0 none;  color: Black;        }

td.encabezado {
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bolder;
}
input.titulo_fecha { 
	border: 1px inset #73A8B7; 
	font-family: Arial, Helvetica, sans-serif;  
	text-transform: uppercase;  
	background-color: #B3CCD3;  
	text-align: center;  
	font-size: 15pt;      
}

input.gfecha { 
	border: 1px inset #73A8B7; 
	font-family: Arial, Helvetica, sans-serif;  
	text-transform: uppercase;  
	background-color: #B3CCD3;  
	text-align: center;  
	font-size: 15pt;      
}
