@charset "utf-8";
/* CSS Document */

.table {
	font: 10pt Arial, Helvetica, sans-serif;
	*border-collapse: collapse;
	border-spacing: 0;
	border: 2px solid #73a8b7;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 4px #000;
	-moz-box-shadow: 0 0 4px #000;
	box-shadow: 0 0 4px #000;
}

.table td, .table th {
	padding: 0 4px;
}

.table th {
	background: #73a8b7;
	color: #fff;
}

.table td {
	border-right: solid 1px #73a8b7;
}

.table tbody tr > td:last-child {
	border-right: none;
}

.table tbody tr:nth-child(even) {
	background: #ecfffc;
	/*-o-transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;*/
}

.table tbody tr:nth-child(even) > td {
	border-top: solid 2px #ecfffc;
	border-bottom: solid 2px #ecfffc;
}

.table tbody tr:nth-child(odd) {
	background: #e1f0f0;
	/*-o-transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	transition: background 0.1s ease-in-out;*/
}

.table tbody tr:nth-child(odd) > td {
	border-top: solid 2px #e1f0f0;
	border-bottom: solid 2px #e1f0f0;
}

.table tbody tr:hover {
	background: #fff;
}

.table tbody tr:hover > td {
	border-top: solid 2px #73a8b7;
	border-bottom: solid 2px #73a8b7;
}

.table td:first-child, .table th:first-child {
	border-left: none;
}

.table tr:first-child th:first-child {
	-moz-border-radius: 8px 0 0 0;
	-webkit-border-radius: 8px 0 0 0;
	/*border-radius: 8px 0 0 0;*/
}

.table tr:first-child th:last-child {
	-moz-border-radius: 0 8px 0 0;
	-webkit-border-radius: 0 8px 0 0;
	/*border-radius: 0 8px 0 0;*/
}

.table tr:first-child th:only-child {
	-moz-border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	/*border-radius: 8px 8px 0 0;*/
}

.table tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 8px;
	-webkit-border-radius: 0 0 0 8px;
	/*border-radius: 0 0 0 8px;*/
}

.table tr:last-child td:last-child {
	-moz-border-radius: 0 0 8px 0;
	-webkit-border-radius: 0 0 8px 0;
	/*border-radius: 0 0 8px 0;*/
}

.table tr:last-child td:only-child {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	/*border-radius: 0 0 8px 8px;*/
}

.table tfoot td {
	background: #73a8b7;
	color: #fff;
	border-left:
}

.table tfoot td:first-child {
	-moz-border-radius: 0 0 0 8px;
	-webkit-border-radius: 0 0 0 8px;
	/*border-radius: 0 0 0 8px;*/
}

.table tfoot td:last-child {
	-moz-border-radius: 0 0 8px 0;
	-webkit-border-radius: 0 0 8px 0;
	/*border-radius: 0 0 8px 0;*/
}

.table tfoot td:only-child {
	-moz-border-radius: 0 0 8px 8px;
	-webkit-border-radius: 0 0 8px 8px;
	/*border-radius: 0 0 8px 8px;*/
}
